#about{
	background: url(/img/bg-sudaka.png) no-repeat;
    background-size: cover;
    background-position: center;

    &:after {
    	content: " ";
	    background-color: #ffffff;
	    opacity: 0.5;
	    height: 100%;
	    display: block;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
    }
}

.my-auto {
	z-index: 1;
	margin-top: 5rem !important;
}

button {
	border: none;
}

.store {
	h3 {
		text-align: center;
		width: 100%;
		border-bottom: 1px solid $revo;
	    padding: 10px 0;
	    margin: 0 0 20px;

		@media (min-width: 768px) {
			text-align: left;
		}
	}

	.common_product {
		margin-bottom: 2rem;
		img {
			width: 100%;
			@media (min-width: 768px) {
				width: 50%;
			}
		}

		.product {
			text-align: center;
		}
	}

	.camisetas,
	.bermudas,
	.bones,
	.manguitos {
		@extend .common_product;
	}

	.col-md-6 {
		float: none;
		@media (min-width: 768px) {
			float: left;
		}
	}
}

.highlithg {
	color: #ffffff;
	text-align: center;
	background: {
		color: $revo;
	};
}